{% extends "layouts/base.html" %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-10 container">
            <h1>OpenAI Chatbot</h1>
            <div id="chat-history">
                {% for message in chat_history %}
                    <p class="user-block icon"><i class="bi bi-person-fill"></i><b>You:</b> {{ message.user_message }} <span class="timestamp">{{ message.timestamp.strftime('%H:%M') }}</span> </p>
                    <p class="bot-block"><i class="bi bi-robot"></i><b>Chatbot:</b> {{ message.bot_response | safe }} <span class="timestamp">{{ message.timestamp.strftime('%H:%M') }}</span> </p>
                {% endfor %}
             </div>

            <form method="post" onsubmit="clearTextBox()">
                {{ form.csrf_token }}
                <label for="user_message">Your message:</label><br>
                {{ form.user_message(id="input", class="input-field", size=50) }}<br><br>
                {{ form.submit(class="bi bi-send send-button") }}
                <br/>
                {{ form.clear(class="clear-button") }}
                
            </form>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
<script>

  
</script>
{% endblock javascripts %}